.text-block{
    width: 450px;
}

.title{
    margin-bottom: 15px;
    font-size: 1.444em;
    line-height: 1.23em;
}

p{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p:first-child {
    margin-bottom: 30px;
}

.text{
    color: #292929;
    font-size: 1.1em;
}

