.title-container{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin-bottom: 50px;
}

h1.title{
    margin-right: 90px;
    font-size: 2em;
    line-height: 1.22222em;
    font-weight: 700;
}

.subTitle{
    font-size: 1.33em;
    line-height: 1.22222em;
    font-weight: 500;
    margin-right: 90px;
}
