.App {
  position: relative;
  max-width: 1120px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.container{
  display: flex;
  position: relative;
  max-width: 1120px;
  height: 100%;
  margin: 40px auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text-block{
  width: 450px;
  padding: 35px;
  margin-right: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.visit-us{
  display: flex;
  position: absolute;
  align-items: baseline;
  height: 140px;
  left: 0;
  right: 0;
  bottom: -100px;
  padding: 25px 48px;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
}

.visit-us p {
  max-width: 640px;
  font-size: 1em;
}

.visit-us h3 {
  margin-right: 150px;
}

img.laptop {
  position: absolute;
  right: 180px;
  bottom: 100%;
}
